@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
  min-width: 950px;
  min-height: 550px;
  user-select: none;
}
